<!DOCTYPE html>
<html>
<head>
	<title>Result</title>

	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
	<style type="text/css">
		body{
			background:black;
		}
		.color{
			color: white;
		}
		.color1{
			color: black;
		}
		body,html{
         	height:100%;
         }
		.thumbnail a>img, .thumbnail>img {
    display: block;
    width: 100%;
    height: 200px;
}
	</style>
</head>
<body>
 <div class="container" class="color">
 	<h1 align="center" class="text-center display-2" ><strong><font color="black">Result
 	<br>
 	 <div class="jumbotron division header__3igq9n5NOQDb0BZuWlYoJL" align="center" id="special" style="background:white; background-size: 100%;">

          <!-- <div class="jumbotron" style="background-image: url(https://miro.medium.com/max/2800/0*5H_NyYBocR1ovxzX); background-size: 100%;"> --> <font color="black"><h1 >Patient Is  at a Risk of Heart Disease</h1></font>
           <p>&nbsp;</p>
          </font></p>
           <!-- <a href="pandas1.html"><button type="button" class="btn btn-primary btn-lg">Let's Get Started</button></a> -->
        
        
         </div>
  </div>
 		
 </div>
</body>
</html>